.blob {
    position: absolute;
    inset: 0;
    width: 0;
    height: 0;
    transform: translateY(20%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 50%;
    filter: blur(40px);
    opacity: 0.2;
    z-index: -1;
    animation:
    bloobing 10s ease-in-out infinite alternate,
    width-smoosh 20s ease-in-out infinite alternate;
    
}

@media (min-width: 1024px){
    .blob {
        width: min(max(60%, 420px), 100%);
        height: min(max(50%, 420px), 100%);
        transform: translateY(50%) translateX(-20%);
    }
}
    
@keyframes bloobing {
    to {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
}

@keyframes width-smoosh {
    to {
        width: min(max(70%, 400px), 100%);
    }
}
